.header{
    display: flex;
    background-color: #333333;
    width: 100%;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.font700{
    font-weight:700;
    font-size: 16px;
    letter-spacing:1.2px;
}
.logo{

    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-right: 40px;
    font-size: 22px;
    color: #fff;
    opacity: .8;
    transition: opacity .35s ease-in-out
}
.logo:hover{
    opacity: 1;
}
.logoContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.listcontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.contactcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnRef{
    position: relative;
display: block;
padding: 12px;
color: #fff;
opacity: .8;
transition: opacity .35s ease-in-out;
}
@media only screen and (max-width: 700px) {
    .contactcontainer{
        display: none;
    }
    .logo{
        height: auto;
        font-size: 15px;
        min-width: 152px;
        margin-right: 10px;
    }
    .hide{
        display: none;
    }
    .btnRef{
        padding: 8px;
    }
    

}
.marginright{
    margin-right: 1rem;
}

.font300{
    font-weight: 500;
    font-size: 13px;
    opacity: .8;
    transition: opacity .35s ease-in-out
}
.font300:hover{
    opacity: 1;
}


.btnRef:hover {
    text-decoration: none;
    opacity: 1;
}

.btnRef:before {
    content: "";
    position: absolute;
    right: 100%;
    bottom: 8px;
    left: 12px;
    height: 1px;
    background: #fff;
    opacity: 0.25;
    transition: all 0.35s ease-in-out;
}

.btnRef:hover:before {
    right: 12px;
    opacity: 0.5;
}