/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/app/components/Header.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.Header_header__lWy7_{
    display: flex;
    background-color: #333333;
    width: 100%;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.Header_font700__rfEoD{
    font-weight:700;
    font-size: 16px;
    letter-spacing:1.2px;
}
.Header_logo__lJnuf{

    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-right: 40px;
    font-size: 22px;
    color: #fff;
    opacity: .8;
    transition: opacity .35s ease-in-out
}
.Header_logo__lJnuf:hover{
    opacity: 1;
}
.Header_logoContainer__KQqr_{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Header_nav__3hs1h{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Header_listcontainer__T8eNv{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.Header_contactcontainer__Iy8rX{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Header_btnRef__xX5M2{
    position: relative;
display: block;
padding: 12px;
color: #fff;
opacity: .8;
transition: opacity .35s ease-in-out;
}
@media only screen and (max-width: 700px) {
    .Header_contactcontainer__Iy8rX{
        display: none;
    }
    .Header_logo__lJnuf{
        height: auto;
        font-size: 15px;
        min-width: 152px;
        margin-right: 10px;
    }
    .Header_hide__RaYFm{
        display: none;
    }
    .Header_btnRef__xX5M2{
        padding: 8px;
    }
    

}
.Header_marginright__uP987{
    margin-right: 1rem;
}

.Header_font300__j5_pp{
    font-weight: 500;
    font-size: 13px;
    opacity: .8;
    transition: opacity .35s ease-in-out
}
.Header_font300__j5_pp:hover{
    opacity: 1;
}


.Header_btnRef__xX5M2:hover {
    text-decoration: none;
    opacity: 1;
}

.Header_btnRef__xX5M2:before {
    content: "";
    position: absolute;
    right: 100%;
    bottom: 8px;
    left: 12px;
    height: 1px;
    background: #fff;
    opacity: 0.25;
    transition: all 0.35s ease-in-out;
}

.Header_btnRef__xX5M2:hover:before {
    right: 12px;
    opacity: 0.5;
}
