.sketchyPhoto{
    display: inline-block;
    border: 3px solid #333;
    border-radius: 40% ;
    letter-spacing: 0.3ch;
    background: #fff;
    position: relative;
}

.sketchyPhoto::before{
    content: '';
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius:40% ;
}

.my-image-container {
    overflow: hidden;
  }
  
  .shine-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right,
      transparent,
      rgba(255, 255, 255, 0.5),
      transparent
    );
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
  }
  
  .my-image-container:hover .shine-overlay {
    opacity: 1;
    animation: slideShine 1s linear;
  }
  
  @keyframes slideShine {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes rainbow-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .rainbow{
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.3), rgba(255, 165, 0, 0.3), rgba(255, 255, 0, 0.3), rgba(0, 128, 0, 0.3), rgba(0, 0, 255, 0.3), rgba(75, 0, 130, 0.3), rgba(238, 130, 238, 0.3));
    background-size: 600% 100%;
    animation: rainbow-animation 10s ease infinite;
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
  }
